* {
  box-sizing: border-box;
}

.overlay {
  position: absolute; /* relative to the parent div */
  width: 100%;
  height: 100%;
  top: 50%; /* center vertically */
  left: 50%; /* center horizontally */
  transform: translate(-50%, -50%); /* actually center the element */
  pointer-events: none; /* optional: allows clicking through the overlay */
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #f0f0f0;
}
